{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404 - Página no encontrada</title>
    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link href="{% static 'vendor/quill/quill.snow.css'%}" rel="stylesheet" />
    <link href="{% static 'vendor/quill/quill.bubble.css'%}" rel="stylesheet" />
    <link />
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="container">
        <section
          class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
        >
          <h1>404</h1>
          <h2>Esta página no existe.</h2>
          <a class="btn" href="/">Regresar al inicio</a>
          <p class="m-4">
            <strong
              >Por favor, contacte al administrador del sitio web si cree que es
              un error.</strong
            >
          </p>
          <img
            src="{% static 'img/not-found.svg'%}"
            class="img-fluid py-5"
            alt="Página no encontrada"
          />
        </section>
      </div>
    </main>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
</html>
